<!DOCTYPE html>
<html>
<head>
	<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>📷 Photography </title>
	<!-- BOOTSTRAP STYLE SHEET -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Sen&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap" rel="stylesheet">
	<!-- SLIDER EFFECT -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
	<!-- LOCAL CSS FILE -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="odometer-theme-car.css" />
</head>
<body>
  
	<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark static-top"  style="background-color:#161616;">
  <div class="container">
    <a class="navbar-brand" href="/" style="font-size: 1.6rem;">
          📷  Photography
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto mx-5">
        <li class="nav-item active">
          <a class="nav-link mx-3" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-3" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-3" href="/contact">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
