<%- include('partials/header') %>

<div  id="about">
    <div class="container-fluid px-0">
		<div class="row no-gutters"> 
			<div class="container" id="overlay-about-text">
					<h1 id="overlay-about-h1"><b>About Us</b></h1>
					<h3>We are meticulous.</h3> 
				</div>
			<div  class="col-lg-6 col-md-12">
				<img src="photos/janvi/jc3.jpg" class="img-fluid" id="indexWallpaper" />
			</div>
			<div class="col-lg-6 col-md-12" id="indexWallpaper1" >
				<img src="photos/janvi/jc5.jpg" class="img-fluid" />
			</div>
		</div>
	</div>


	<br>
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-lg-7">			
				<h1 class="about-heading" style="font-family: Cormorant, sans-serif;">We're here to capture <br>your moments.</h1>
				<br>
				<p id="aboutUsParaPhone" style="font-family:Open Sans;"><%= aboutUs %></p>
			</div>
			<div  id="tog1" class="col-lg-5">			
				<img class="img-fluid" src="photos/tog1.png">
			</div>
		</div>
	</div>

	<br><br><br><br><br><br>


	<div  class="information">
	</div>
	<div class="row">

			<div class="row col-lg-4 parralox-data text-center">
				<div class="col-lg-3"></div>
				<div class="col-lg-3">
					<img src="photos/camera3.png" class="spanImg">
				</div>
				<div class="col-lg-6">
					<p class="counter counter-number">2317</p>
					<p>SHOTS TAKEN</p>
				</div>
			</div>

			<div class="row col-lg-4 parralox-data text-center">
				<div class="col-lg-3"></div>
				<div class="col-lg-3">
					<img src="photos/food1.png" class="spanImg">
				</div>
				<div class="col-lg-6">
					<p class="counter counter-number">1398</p>
					<p>CUPS OF COFFEE</p>
				</div>
			</div>

			<div class="row col-lg-4 parralox-data text-center">
				<div class="col-lg-3"></div>
				<div class="col-lg-3">
					<img src="photos/clock.png" class="spanImg">
				</div>
				<div class="col-lg-4">
					<p class="counter counter-number">59</p>
					<p>HOURS</p>
				</div>
			</div>

		</div>


	<br><br><br><br><br><br><br><br><br>
	<div class="container">
		<h1 class="text-center" style="">Instagram Shots</h1>
		<hr style="background-color: black;">
		<br><br>
		<div class="row">
			<div class="col-lg-4">
				<img id="size" class="img-fluid" src="photos/IGshots/ig1.jpg">
			</div>
			<div class="col-lg-4">
				<img id="size" class="img-fluid" src="photos/IGshots/ig2.jpg">
			</div>
			<div class="col-lg-4">
				<img id="size" class="img-fluid" src="photos/IGshots/ig7.jpg">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-4">
				<img id="size" class="img-fluid" src="photos/IGshots/ig4.jpg">
			</div>
			<div class="col-lg-4">
				<img id="size" class="img-fluid" src="photos/IGshots/ig5.jpg">
			</div>
			<div class="col-lg-4">
				<img id="size" class="img-fluid" src="photos/IGshots/ig3.jpg">
			</div>
		</div>
	</div>
	<br><br><br>
	<br>
	<br><br><br>
</div>
<br>

<%- include('partials/footer') %>