<%- include('partials/header') %>

<br><br><br><br>

<div class="container">
	<h3 class="mt-3 mb-5 text-center display-4">JANVI'S GALLERY<hr class="bg-dark"></h3>

	<!-- ROW 1 -->
	<div class="row gallerys">
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/janvi/j2.jpg">
				<img class="img-fluid" src="photos/janvi/j2.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/janvi/j12.jpg">
				<img class="img-fluid" src="photos/janvi/j12.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/janvi/j3.jpg">
				<img class="img-fluid" src="photos/janvi/j3.jpg" alt="image">
			</a>
		</div>
		</div>

<!-- ROW 2 -->
		<div class="row  gallerys">
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j4.jpg">
					<img class="img-fluid" src="photos/janvi/j4.jpg" alt="image">
				</a>
			</div>
			<div class="col-lg-4 text-center" >
				<h6></h6>
				<a href="photos/janvi/j1.jpg">
					<img class="img-fluid" src="photos/janvi/j1.jpg" alt="image">
				</a>
			</div>
			<div class="col-lg-4 text-center" >
				<h6></h6>
				<a href="photos/janvi/j7.jpg">
					<img class="img-fluid" src="photos/janvi/j7.jpg" alt="image">
				</a>
			</div>
		</div>

<!-- ROW 3  -->
		<div class="row  gallerys">
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j6.jpg">
					<img class="img-fluid" src="photos/janvi/j6.jpg" alt="image">
				</a>
			</div>
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j5.jpg">
					<img class="img-fluid" src="photos/janvi/j5.jpg" alt="image">
				</a>
			</div>
		<!-- <div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/janvi/j.jpg">
				<img class="img-fluid" src="photos/janvi/j.jpg" alt="image">
			</a>
		</div> -->
	</div>
	<!-- ROW 4 -->
	<div class="row  gallerys">
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j9.jpg">
					<img class="img-fluid" src="photos/janvi/j9.jpg" alt="image">
				</a>
			</div>
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j10.jpg">
					<img class="img-fluid" src="photos/janvi/j10.jpg" alt="image">
				</a>
			</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/janvi/j11.jpg">
				<img class="img-fluid" src="photos/janvi/j11.jpg" alt="image">
			</a>
		</div>
	</div>
	<!-- ROW 5 -->
	<div class="row  gallerys">
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j16.jpg">
					<img class="img-fluid" src="photos/janvi/j16.jpg" alt="image">
				</a>
			</div>
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j13.jpg">
					<img class="img-fluid" src="photos/janvi/j13.jpg" alt="image">
				</a>
			</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/janvi/j14.jpg">
				<img class="img-fluid" src="photos/janvi/j14.jpg" alt="image">
			</a>
		</div>
	</div>
	<!-- ROW 6 -->
	<div class="row  gallerys">
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j15.jpg">
					<img class="img-fluid" src="photos/janvi/j15.jpg" alt="image">
				</a>
			</div>
			<!-- <div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/janvi/j.jpg">
					<img class="img-fluid" src="photos/janvi/j.jpg" alt="image">
				</a>
			</div> -->
		<!-- 	<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/janvi/j14.jpg">
				<img class="img-fluid" src="photos/janvi/j14.jpg" alt="image">
			</a>
		</div> -->
	</div>






</div>
</div>

<br><br><br>
<div class="mr-5">
<p class="text-right"><b> - <u> JANVI DHUMAL</u></b></p>
</div>

<%- include('partials/footer') %>