<%- include('partials/header') %>

<br><br><br>

<div class="container">
<div>
	<h3 class="mb-5 mt-5 text-center display-4"> PRANJAL'S GALLERY<hr class="bg-dark"></h3>
</div>

<!-- ROW 1 -->
	<div class="row gallerys">
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p18.jpg">
				<img class="img-fluid" src="photos/pranjal/p18.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p2.jpg">
				<img class="img-fluid" src="photos/pranjal/p2.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p3.jpg">
				<img class="img-fluid" src="photos/pranjal/p3.jpg" alt="image">
			</a>
		</div>
		</div>

<!-- ROW 2 -->
		<div class="row  gallerys">
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/pranjal/p4.jpg">
					<img class="img-fluid" src="photos/pranjal/p4.jpg" alt="image">
				</a>
			</div>
			<div class="col-lg-4 text-center" >
				<h6></h6>
				<a href="photos/pranjal/p17.jpg">
					<img class="img-fluid" src="photos/pranjal/p17.jpg" alt="image">
				</a>
			</div>
			<div class="col-lg-4 text-center" >
				<h6></h6>
				<a href="photos/pranjal/p8.jpg">
					<img class="img-fluid" src="photos/pranjal/p8.jpg" alt="image">
				</a>
			</div>
		</div>

<!-- ROW 3  -->
		<div class="row  gallerys">
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/pranjal/p1.jpg">
					<img class="img-fluid" src="photos/pranjal/p1.jpg" alt="image">
				</a>
			</div>
			<div class="col-lg-4 text-center">
				<h6></h6>
				<a href="photos/pranjal/p6.jpg">
					<img class="img-fluid" src="photos/pranjal/p6.jpg" alt="image">
				</a>
			</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p10.jpg">
				<img class="img-fluid" src="photos/pranjal/p10.jpg" alt="image">
			</a>
		</div>
	</div>

<!-- ROW 4 -->
	<div class="row  gallerys">
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p11.jpg">
				<img class="img-fluid" src="photos/pranjal/p11.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p12.jpg">
				<img class="img-fluid" src="photos/pranjal/p12.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p13.jpg">
				<img class="img-fluid" src="photos/pranjal/p13.jpg" alt="image">
			</a>
		</div>
	</div>

<!-- ROW 5 -->
	<div class="row  gallerys">
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p14.jpg">
				<img class="img-fluid" src="photos/pranjal/p14.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p15.jpg">
				<img class="img-fluid" src="photos/pranjal/p15.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p16.jpg">
				<img class="img-fluid" src="photos/pranjal/p16.jpg" alt="image">
			</a>
		</div>
	</div>

<!-- ROW 6 -->
	<div class="row  gallerys">
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p19.jpg">
				<img class="img-fluid" src="photos/pranjal/p19.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p7.jpg">
				<img class="img-fluid" src="photos/pranjal/p7.jpg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p5.jpg">
				<img class="img-fluid" src="photos/pranjal/p5.jpg" alt="image">
			</a>
		</div>
	</div>


<!-- ROW 7 -->
<div class="row  gallerys">
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p21.jpeg">
				<img class="img-fluid" src="photos/pranjal/p21.jpeg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p22.jpeg">
				<img class="img-fluid" src="photos/pranjal/p22.jpeg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p23.jpeg">
				<img class="img-fluid" src="photos/pranjal/p23.jpeg" alt="image">
			</a>
		</div>
	</div>


<!-- ROW 8 -->
<div class="row  gallerys">
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p24.jpeg">
				<img class="img-fluid" src="photos/pranjal/p24.jpeg" alt="image">
			</a>
		</div>
		<div class="col-lg-4 text-center">
			<h6></h6>
			<a href="photos/pranjal/p25.jpeg">
				<img class="img-fluid" src="photos/pranjal/p25.jpeg" alt="image">
			</a>
		</div>
	</div>


<!-- ROW 9 -->
</div>
<br><br><br>
<div class="mr-5">
<p class="text-right"><b> -<u> PRANJAL SAWANT </u></b></p>
</div>

<%- include('partials/footer') %>